<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Programme Confirmation</title>
  <link rel="stylesheet" href="/static/css/print.css">
</head>
<body class="page"
  th:with="programmeName=${not #strings.isEmpty(pm.programmeName)} ? ${pm.programmeName} : _"
>
<main>
  <div class="header"><img class="logo" src="/static/nhs-england_logo_blue_right.svg" alt="NHS England logo"/></div>
  <div>
    <div class="date">Date <th:block th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></th:block></div>
    <h4>
      CONFIRMATION OF APPOINTMENT TO <th:block th:text="${not #strings.isEmpty(pm.programmeName)} ? ${#strings.toUpperCase(pm.programmeName)} : _">(Programme Name Missing)</th:block>
        FOR DR <th:block th:text="${#strings.toUpperCase(trainee.forenames)}"></th:block> <th:block th:text="${not #strings.isEmpty(trainee.surname)} ? ${#strings.toUpperCase(trainee.surname)} : _">(Surname Missing)</th:block>
    </h4>
    <p>I am writing to confirm that Dr <th:block th:text="${#strings.capitalize(trainee.forenames)}"></th:block> <th:block th:text="${not #strings.isEmpty(trainee.surname)} ? ${#strings.capitalize(trainee.surname)} : _">(surname missing)</th:block
      > (GMC: <th:block th:text="${not #strings.isEmpty(trainee.gmcNumber) ? trainee.gmcNumber : 'unknown'}"></th:block
      >) has been appointed to a <th:block th:text="${pm.programmeName}"></th:block
      > Training Programme with NHS England <th:block th:text="${not #strings.isEmpty(pm.managingDeanery)} ? ${pm.managingDeanery} : _">(local office missing)</th:block
      > from <th:block th:text="${pm.startDate} ? |${#temporals.format(pm.startDate, 'dd MMMM yyyy')}| : _">(start date missing)</th:block
      >. Please note that NHS England <th:block th:text="${not #strings.isEmpty(pm.managingDeanery)} ? ${pm.managingDeanery} : _">(local office missing)</th:block> is not an employing body.
    </p>
    <p>
      Dr <th:block th:text="${not #strings.isEmpty(trainee.surname)} ? ${#strings.capitalize(trainee.surname)} : _">(surname missing)</th:block
      > is currently in a Training Programme between <th:block th:text="${pm.startDate} ? |${#temporals.format(pm.startDate, 'dd MMMM yyyy')}| : _">(start date missing)</th:block
      > and <th:block th:text="${pm.endDate} ? |${#temporals.format(pm.endDate, 'dd MMMM yyyy')}| : _">(end date missing)</th:block
      > and will be employed by a Trust. Continuation in the programme is subject to satisfactory progress at annual reviews. Please note Dr <th:block th:text="${not #strings.isEmpty(trainee.surname)} ? ${#strings.capitalize(trainee.surname)} : _">(surname missing)</th:block
      > will rotate through a number of employing NHS Trusts and/or other employing organisations.
    </p>
    <p>
      Dr <th:block th:text="${not #strings.isEmpty(trainee.surname)} ? ${#strings.capitalize(trainee.surname)} : _">(surname missing)</th:block
      >'s salary would be in line with NHS employers contract/PayScale. Please click on link for information
      <a
        href="https://www.nhsemployers.org/articles/pay-and-conditions-circulars-medical-and-dental-staff"
        th:target="_blank">Pay and conditions circulars for medical and dental staff | NHS Employers</a>.
    </p>
    <p>If you require any further information, please do not hesitate to contact NHS England
      <th:block th:text="${not #strings.isEmpty(pm.managingDeanery)} ? ${pm.managingDeanery} : _"> Local Office</th:block> via <th:block th:switch="${contactHref}"
      ><span th:case="url"><a th:href="${localOfficeContact}"><span th:text="${localOfficeContact}"></span></a></span
      ><span th:case="email"><a th:href="|mailto:${localOfficeContact}?subject=Programme Confirmation (${pm.programmeName}) - GMC: ${not #strings.isEmpty(trainee.gmcNumber) ? trainee.gmcNumber : 'unknown'}, Prog No: ${not #strings.isEmpty(pm.programmeNumber) ? pm.programmeNumber : 'unknown'}|"><span th:text="${localOfficeContact}"></span></a></span
      ><span th:case="*"><span th:text="${localOfficeContact}"></span></span
      ></th:block>.
    </p>
    <div class="sign-off">
      <p>Yours sincerely,</p>
      <div class="signature">
        <p>
          <strong>NHS England</strong></span>
          <span><th:block th:text="${pm.managingDeanery}">Local Office</th:block></span>
        </p>
      </div>
    </div>
  </div>
</main>
</body>
</html>
