<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Letter Layout</title>
  <link rel="stylesheet" href="/static/css/print.css">
</head>
<body class="page">
<header>
  <div class="logo">
    <img src="/static/nhs-england_logo_blue_right.svg" alt="NHS England logo">
  </div>
</header>
<main>
  <address class="from">
    <div>NHS England</div>
    <div>Wellington House</div>
    <div>133-155 Waterloo Road</div>
    <div>London</div>
    <div>SE1 8UG</div>
  </address>
  <div class="sent">
    <!-- set timezone: #temporals.createTodayForTimeZone(var.timezone) -->
    <time th:replace="~{fragments/date/v1.0.0 :: date(${#temporals.createTodayForTimeZone(timezone)})}">1 January 1970</time>
  </div>
  <div class="greeting"><p>To whom it may concern,</p></div>
  <div class="subject"><p><strong>CONFIRMATION OF APPOINTMENT TO PAEDIATRICS FOR DR ANTHONY GILLIAM</strong></p></div>
  <section>
    <p>Please accept this as confirmation that Dr Anthony Gilliam (GMC: 8999999) has been appointed to a Paediatrics
      Training Programme with NHS England - East of England from 2 September 2024. Please note that NHS England - East of England
      is not an employing body.
    </p>
    <p>
      Dr Gilliam is currently in a Training Programme between 2 September 2024 and 5 September 2028 and
      will be employed by a Trust. Continuation in the programme is subject to satisfactory progress at annual
      reviews. Please note Dr Gilliam will rotate through a number of employing NHS Trusts and/or other
      employing organisations.
    </p>
    <p>
      Dr Gilliam's salary would be in line with NHS employers contract/PayScale. See <a
      href="https://www.nhsemployers.org/articles/pay-and-conditions-circulars-medical-and-dental-staff"
      th:target="_blank">Pay and conditions circulars for medical and dental staff | NHS Employers</a> for more information.
    </p>
    <p>
      If you require any further information, please do not hesitate to contact NHS England - East of England via
      your local office.</p>
  </section>
  <div class="sign-off">
    <p><span>Yours sincerely,</span></p>
    <div class="signature">
      <p>
        <span>NHS England</span>
        <span>East of England</span>
      </p>
    </div>
  </div>
</main>
</body>
</html>
